@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My Comic Collection</h1>
    <p class="lead">Add, Update, Delete and Search for Comic Books.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Browse Marvel Superheroes!</h2>
        <p>
            Look up your favorite marvel superheroes here.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("SearchMarvel","Marvel")">Learn more &raquo;</a></p>
    </div>
</div>